/* ************************* */

/* EVT 2.0 CUSTOM STYLESHEET */

/* ***************************************************************** */

/*                                                                   */

/* Add here your CSS to customize the style of the elements          */

/* If you'll not see any changes, try adding !important to the rule  */

/*                                                                   */

/* For generic TEI elements, use the tagName as class                */

/* e.g. <del/> => .del{ # your style goes here # }                   */

/*                                                                   */

/* ***************************************************************** */

	evt_note.contextual{
    background-color: green; 
    font-size: 5px!important;
}

evt_note.note[data-type="etymological]
{
    background-color: orange;
    font-size: 5px!important;
    }

span.Etymological{
    background-color: orange;
    font-size: 5px!important;
    }
span.intertextual{
    background-color: grey;
    font-size: 5px!important;
    }
span.Textual{
    background-color: yellow;
    font-size: 5px!important;
    }

.term {
	background-color: coral;
	font-weight:900;
}

.figDesc {
	display: block;
	border-left: 5px solid #b30000;
	background-color: #ffe6e6;
	padding: 5px 5px 5px 8px;
	margin-bottom: 3%;
	text-align: justify;
	font-size: 95%;
	font-style: italic;
}
.speaker{font-style:italic;
	text-align:center}
	stage{font-style:italic;
	text-align:left
	}
	.fw{text-align:center;
	 font-style:Normal;
	 font-weight:900}
	 
span.analogue span.analogue__text span.quote {
	font-style: italic;
}

span.quote sup.iconbis-evt_quote-left,
span.quote sup.iconbis-evt_quote-right {
	display: none;
}
span.stage{
	margin-top: 1em;
	margin-bottom: 1em;
}
span.stage[data-type="exit"]{
	text-align : right;

}
span.head[data-type="head"]{
	text-align:center;
}

span.fw{
	margin-top: 1em;
	margin-bottom : 1em;
}


